$header-bg: #fff;
$header-height: 60px;
$logo-size: 40px;
$nav-font-size: 12px;
$card-width: 200px;
$card-gap-horizontally: 48px;
$card-gap-vertically: 46px;
$header-padding: 50px;
$main-color: #00acdc;
$text-accent-color: #060b35;
$text-secondary-color: #616070;
$transition: 0.3s;
